# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan
*.tfplan

# Terraform lock (optional - production me rakh sakte ho)
# .terraform.lock.hcl

# Sensitive files
*.pem
*.key
*.pfx